.map-card{
    margin-top: 5vw;
} 
.Carousel{
    height: auto;
}
.Carousel h5 {
    color: black;

}
.Carousel p {
    color: black;
}
.Carousel img {
    margin-left: 15vw;
    margin-top: 5vw;

}
.carte{
    height: 1vh;
}
.mere-carte{
    height: 82vw;
}
/* .mom-btn-contact{

} */
.btn-contact{
    margin-top: 2vw;
    margin-left: 9vw;
}

@media only screen and (max-width: 600px) { 

.Carousel h5 {
    color: black;
    width: 90vw;
    margin-left: 10vw;
}
.carte{
    height: 1vh;
}
.mere-carte{
    height: 1vw;
}
.Carousel{
    height: 60vh;
    margin-left: -3.2vw;
}
.mom-btn-contact{
    margin-top: 10vw;
}
.Carousel p {
    color: black;
    width: 90vw;
    margin-left: 10vw;
}

.Carousel img {
    margin-left: 20vw;
    margin-top: 10vw;
}

.text-card img{
    width: 90vw;
    margin-top: 10vw;
}
}