@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.flex-col{
    flex-direction: column;
}
.justifie1{
    justify-content: space-between;
}
.desktop-home{
    background-color: #15679F;
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url(../assets/images/17923e078afd1fc859746df775e346b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.desktop-home h2{ 
    line-height: 5vw;
    letter-spacing: 0.22vw;
    font-size: 5vw;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-left: 4vw;
    margin-top: 0vw;
}
.desktop-home .texte-image{
    display: flex;
    margin-top: 5vw;
}
.desktop-home .imagedesktop{
    width: 50vw;
    margin-left: 5vw;
}
.desktop-home .button-home{
    position: absolute;
    bottom: 3vw;
    z-index: 1;
    left: 12vw;
    height: 14vh;
    width: 75vw;
    background-color: black;
    border-radius: 7vw;
}
.desktop-home .button-home:hover{
    background-color: black;
}

.desktop-home .link{
    color: white;
    font-size: 4vw;
    text-decoration: none;
}
/* .desktop-home .blanc{
    background-color: white;
     width: 100vw;
     height: 40vh;
     margin-top: -1vw;
 } */
.desktop-home p{
    z-index: 3;
    position: absolute;
    bottom: 15vw;
    left: 25vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    line-height: 5vw;
}
.mobile{
    display: none;
}

@media only screen and (max-width: 600px) { 
    .mobile{
        display: inline;
    } 
    .App{
        background-color: #15679F;

    }
    .desktop{
        display: none;
    }
    .mobile{
        height: 100vh;
        width: 100vw;
        background-color: #15679F;
        justify-content: space-between;
    }
    .justifie1{
        justify-content: space-between;
    }
    .mobile h2{ 
        line-height: 13vw;
        letter-spacing: 0.22vw;
        font-size: 7.5vw;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        margin-left: 10vw;
        transform: translateY(14vw);
    }
    h2 span{
        color: black;
    }
   .image-home{
    width: 100vw;
   }
    .mobile .button-home{
        position: absolute;
        bottom: 10vw;
        z-index: 1;
        left: 10vw;
        height: 7vh;
        width: 75vw;
        background-color: black;
        border-radius: 7vw;
    }
    .mobile .link{
        color: white;
        font-size: 4vw;
        text-decoration: none;
    }
    .mobile p{
        z-index: 3;
        position: absolute;
        bottom: 34vw;
        left: 23vw;
        font-size: 3vw;
        font-weight: bold;
        text-align: center;
        line-height: 5vw;
        color: black;
    }
}






