.map-card{
    margin-top: 5vw;
} 
.Carousel-item h5 {
    color: black;
    transform: translateY(1vw);
    margin-bottom: 1vw;
}
.Carousel-item p {
    color: black;
    transform: translateY(1vw);
    margin-bottom: 3vw;
}
.Carousel img {
    margin-left: 10vw;
}
.carte{
    height: auto;
}
.mere-carte{
    height: 102vw;
}

@media only screen and (max-width: 600px) { 

.Carousel h5 {
    color: black;
    transform: translateY(1vw);
    width: 80vw;
}
.Carousel p {
    color: black;
    transform: translateY(1vw);
    width: 80vw;
}

.Carousel{
    height: 60vh;
    margin-left: -3.2vw;
    margin-bottom: 4vw;
}
.mere-carte{
    height: 122vw;
}
.carte{
    height: auto;
}

.text-card{
    width: 90vw;
    
}
.map-card{
    margin-top: 50vw;
} 
.text-card img{
    width: 90vw;
    margin-top: 10vw;
   
}
}