div .maison{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .maison-moderneBox{
    width: 30vw;
    overflow: hidden;
    height: 10vh;

  }
  .maison-moderne img{
    width: 30vw;
    height: 10vh;
  }
  
  .slide-moderne div {
    height: 20vh;
    
  }