*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Search{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vw;
    width: 100vw;
    
}

.barre{
    background-color: #F1F3F5;
    border-radius: 3vw;
    width: 70vw;
}
.barre i{
    margin-left: 5vw;
}
button i {
    font-size: 5vw;
}
.Search .input-search{
    height: 5vh;
    margin-left: 10vw;
    text-align: start;
    border: none;
    background-color: #F1F3F5;
    outline: #F1F3F5;
}
.Search button{
    height: 5vh;
    width: 13vw;
    border-radius: 2vw;
    background-color: #F1F3F5;
}